//----- variables -----
@import './utils/variables';
@import './utils/mixin';

//----- base -----
@import './base/base';

//----- layout -----
@import './layout/navigation';
@import './layout/subscribe';

//----- components -----
@import './components/buttons';
@import './components/card';
@import './components/inputEmail';

//----- pages -----
@import './pages/home';

//----- themes -----
@import './themes/theme';

* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: $color-white-1;
}
