@mixin flexColumn() {
    display: flex;
    flex-direction: column;
}

@mixin flexSpaceBetween() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin homePageMargin() {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    margin: $base-margin * 5 $base-margin * 10;
    @media (min-width: 2560px) {
        margin: $base-margin * 5 $base-margin * 40;
    }
}

@mixin titleFlexAbsolute() {
    z-index: 5;
        position: absolute;
        margin-top: 93px;
        text-align: center;
        padding: 0 30%;
        
        h1 {
            margin-bottom: $base-margin * 2;
        }
}