@mixin flexColumn() {
    display: flex;
    flex-direction: column;
}

@mixin flexRow() {
    display: flex;
    flex-direction: row;
}
@mixin flexRowMargin8() {
    display: flex;
    flex: row;
    align-items: start;
    justify-content: space-between;
    margin: $base-margin * 5 $base-margin * 8;
    @media (min-width: 2560px) {
        margin: $base-margin * 5 $base-margin * 40;
    }
}
@mixin flexSpaceBetween() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin homePageMargin() {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    margin: $base-margin * 5 $base-margin * 10;
    @media (min-width: 2560px) {
        margin: $base-margin * 5 $base-margin * 40;
    }
}

@mixin titleFlexAbsolute() {
    z-index: 5;
        position: absolute;
        margin-top: 93px;
        text-align: center;
        padding: 0 30%;
        
        h1 {
            margin-bottom: $base-margin * 2;
        }
}

@mixin imagesOrangeOutlineBorderRadius20() {
    outline: 2px solid $color-orange-1;
    border-radius: $border-radius-12;
}

@mixin h1fontXLfontW500() {
    font-size: $font-size-xl;
    font-weight: $font-weight-5;
}