.home-page {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    margin: $base-margin * 5 $base-margin * 10;
    @media (min-width: 2560px) {
        margin: $base-margin * 5 $base-margin * 40;
    }
}

//hero section
.hero-texts {
    display: flex;
    width: 512px;
    flex-direction: column;
    h2 {
        color: $color-orange-1;
    }
    h1 {
        margin: 0;
        font-size: $font-size-xxl * 1.2;
        line-height: $base-line-height * 4;
    }
    p {
        line-height: $base-line-height * 1.5;
        margin-bottom: $base-margin * 4;
    }
    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        div {
            display: inherit;
            gap: 20px;

            img {
                width: 75px;
            }
        }
    }
}
.joystick-bg {
    top: 0;
    right: 0;
    position: absolute;
    background: transparent;
}

//trending games section
.trending-games-section {
    @include flexColumn();
    gap: 4rem;

    .trending-title {
        @include flexSpaceBetween();
    }
    
    .trending-games-cards {
        @include flexSpaceBetween();
    }
    
}

//goty section
.goty-section {
    @include flexColumn();
    p {
        font-weight: $font-weight-6;
        font-size: $font-size-xl;
        text-align: center;
    }
    div {
        margin-bottom: $base-margin * 3;
        .game-title {
            font-weight: $font-weight-6;
            font-size: $font-size-l;
        }
        p {
            font-size: $font-size-m;
            text-align: start;
            padding-right: 50%;
            font-weight: $font-weight-4;
        }
    }

    .dots {
        z-index: -1;
        margin-top: 250px;
        margin-left: 800px;
        position: absolute;
        width: 196px;
        height: 154px;
        height: 154px;
        width: 196px;
    }
}
