.nav-links-wrapper {
    display: flex;
    align-items: center;
    margin: $base-margin  $base-margin * 3;

    ul {
        display: inherit;
        align-items: center;
        gap: 5rem;
    }

    a.active {
        color: $color-orange-2;
    }
}
