@mixin LinkAsBtn() {
    display: flex;
    align-items: center;
    place-content: center;
    border-radius: $base-border-radius * 3;
    color: $color-white-1;
}

.contact-us-btn {
    display: flex;
    height: 41.34px;
    width: 131.77px;
    background-color: $color-orange-2;
    color: $color-white-1;
    font-size: 14px;
    align-items: center;
    place-content: center;
    border-radius: $base-border-radius * 3;
    cursor: pointer;
}

.get-more-details-btn {
    display: flex;
    height: 53px;
    width: 195px;
    background-color: $color-orange-3;
    color: $color-white-1;
    font-size: 14px;
    align-items: center;
    place-content: center;
    border-radius: $base-border-radius * 20;
    cursor: pointer;
}

.see-all-btn {
    @include LinkAsBtn();
    height: 57px;
    width: 137px;
    background-color: $bg-color-1;
    cursor: pointer;
}

.continue-btn {
    @include LinkAsBtn();
    background-color: $color-orange-2;
    border: none;
    height: 37px;
    width: 105px;
}