.card {
    @include flexColumn();
    align-items: center;
    place-content: center;
    height: 180px;
    width: 200px;
    background-color: $color-white-1;
    border-radius: $base-border-radius * 6;

    img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 60px;
        border-radius: $base-border-radius * 50;
        box-shadow: #494646 0px 0px 7px 1px;
    }

    p {
        padding: 0px 10px;
        color: $color-orange-1;
    }
}

.work-with-us-card {
    @include flexColumn();
    text-align: start;
    place-content: center;
    padding: $base-padding * 2;
    height: 250px;
    width: 348px;
    background-color: #1C140F;
    border-radius: $base-border-radius * 10;
}